bochsout.txt
bochsrc.txt
*.swp
tags
.project
.cproject
build/
examples/*.d
examples/*.o
examples/*.a
examples/lib/*.d
examples/lib/*.o
examples/lib/user/*.d
examples/lib/user/*.o
examples/bubsort
examples/cat
examples/cmp
examples/cp
examples/echo
examples/halt
examples/hex-dump
examples/insult
examples/lineup
examples/ls
examples/matmult
examples/mcat
examples/mcp
examples/mkdir
examples/pwd
examples/recursor
examples/rm
examples/shell
